@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model OnlineTicketsSystem.Models.Event

<h1>Редакция на събитие</h1>

<form asp-action="Edit" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />

    <div class="mb-2">
        <label class="form-label">Заглавие</label>
        <input class="form-control" asp-for="Title" />
        <span class="text-danger" asp-validation-for="Title"></span>
    </div>

    <div class="mb-2">
        <label class="form-label">Описание</label>
        <textarea class="form-control" asp-for="Description"></textarea>
    </div>

    <div class="mb-2">
        <label class="form-label">Град</label>
        <input class="form-control" asp-for="City" />
        <span class="text-danger" asp-validation-for="City"></span>
    </div>

    <div class="mb-2">
        <label class="form-label">Място</label>
        <input class="form-control" asp-for="Venue" />
        <span class="text-danger" asp-validation-for="Venue"></span>
    </div>

    <div class="mb-2">
        <label class="form-label">Дата</label>
        <input class="form-control" asp-for="Date" type="date" />
        <span class="text-danger" asp-validation-for="Date"></span>
    </div>

    <div class="mb-2">
        <label class="form-label">Капацитет</label>
        <input class="form-control" asp-for="Capacity" type="number" />
        <span class="text-danger" asp-validation-for="Capacity"></span>
    </div>

    <div class="mb-2">
        <label class="form-label">ImageUrl</label>
        <input class="form-control" asp-for="ImageUrl" />
    </div>

    <div class="mb-3">
        <label class="form-label">Категория</label>
        <select class="form-select" asp-for="CategoryId" asp-items="ViewBag.Categories"></select>
    </div>

    <button class="btn btn-success" type="submit">Запази</button>
    <a class="btn btn-secondary" asp-action="Index">Отказ</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

