@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<string>
@using OnlineTicketsSystem.Helpers

<h1>Градове</h1>

<ul>
    @foreach (var city in Model)
    {
        if (CitySlugMap.TryGetSlug(city, out var slug))
        {
            <li>
                <a asp-controller="Cities" asp-action="ByCity" asp-route-slug="@slug">@city</a>
            </li>
        }
    }
</ul>

